<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- <form action=""> -->
            <input type="text" v-model="number">
            <button v-click="increment">增加</button>
        <!-- </form> -->
        <h3 v-bind="number"></h3>
        <h4>{{title}}</h4>
        <ul>
            <li v-for="t of title">
                {{t}}
            </li>
        </ul>
    </div>
    <script>
       
    </script>
<script type="text/javascript" src="index67e98669d55f1d830d64.js?1d7d31f1e33fc05671e1"></script></body>
</html>